Rocket.Launcher/Service References/IPC/Rocket.API.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rocket.API" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rocket.API" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="RocketPlayer">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdmin" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RocketPlayer" nillable="true" type="tns:RocketPlayer" />
</xs:schema>