Rocket.Launcher/Service References/IPC/Rocket.API.Logging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rocket.API.Logging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rocket.API.Logging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="LogMessage">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System" name="_x003C_Exception_x003E_k__BackingField" nillable="true" type="q1:Exception" />
      <xs:element name="_x003C_LogLevel_x003E_k__BackingField" type="tns:LogLevel" />
      <xs:element name="_x003C_Message_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessage" nillable="true" type="tns:LogMessage" />
  <xs:simpleType name="LogLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEBUG" />
      <xs:enumeration value="INFO" />
      <xs:enumeration value="WARN" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="FATAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogLevel" nillable="true" type="tns:LogLevel" />
</xs:schema>