Rocket.Launcher/Service References/IPC/Rocket.API.Logging.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Rocket.API.Logging" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Rocket.API.Logging" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfLogMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="LogMessage" nillable="true" type="tns:LogMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfLogMessage" nillable="true" type="tns:ArrayOfLogMessage" />
  <xs:complexType name="LogMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="LogLevel" type="tns:LogLevel" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LogMessage" nillable="true" type="tns:LogMessage" />
  <xs:simpleType name="LogLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="DEBUG" />
      <xs:enumeration value="INFO" />
      <xs:enumeration value="WARN" />
      <xs:enumeration value="ERROR" />
      <xs:enumeration value="FATAL" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="LogLevel" nillable="true" type="tns:LogLevel" />
</xs:schema>